body{
    background-color:gray
}
.calc-container{
    border-radius: 20px;
    background-color: greenyellow;
    color: honeydew;
    width: 700px;
    height: 500px;
    transform: skew()
}

.output{
    border-radius: 10px;
    border: khaki double 3px;
    color: honeydew;
    display: flex;
    justify-content: flex end;
    padding: 20px;
    margin: 20px

}

button:hover{
    opacity: 1;
    box-shadow: 0 0 12px black
}

button.clear{
    background: red ;
}

.button-grid{
    display:grid;
    grid-template-columns: auto auto auto ;
}