body{
    background-color:gray;
    display:grid;
    justify-content: center;
    align-items: center;
}

h1{
    display: flex;
    justify-content: space-evenly;
}
.calc-container{
    border-radius: 20px;
    background-color: rgb(49, 49, 45);
    color: rgb(6, 7, 6);
    width: 500px;
    height: 475px;
    padding:0%;
    margin:100px;
    box-shadow: 0 0 15px black
}


.output{
    border-radius: 20px;
    border: rgb(37, 37, 35) double 3px;
    background-color: rgb(9, 248, 9);
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 20px;
    margin: 20px;
    height: 100px;
    width:415px;
    font-size: 60px;
    

}

button:hover{
    opacity: 1;
    box-shadow: 0 0 12px black
}

button{
    background-color: blue;
    border-radius:15px;
    padding: 8px; 
    margin: 5px;
    color: rgb(17, 11, 11);
    cursor: pointer;
    height: 70px;
    margin: 10px;
    font-size: 30px;
}    

.clear{
    background:red;
}

.calculator-name{
    display:flex;
    justify-content:flex-start;
    padding: 8px;
    margin: 5px;
}
